<div class="banner home">
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="navbar-button">
            <img src="https://res.cloudinary.com/bruncky/image/upload/v1582468762/The%20Drunken%20Bard/Beer%20Logo%20Round.png" alt="beer logo">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <%= link_to "Home", root_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Cocktails", cocktails_path, class: "nav-link" %>
                </li>
            </ul>
        </div>
    </div>
</div>
