<div class="banner home" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://i.redd.it/kx778pghjhw31.jpg);">
  <div class="container">
    <h1 style="font-size: 42px;">The Drunken Bard</h1>
    <p>Your one-stop shop for beer and cocktails</p>
  </div>
</div>
<div class="container">
    <%= link_to "Add Cocktail", new_cocktail_path, class: "btn btn-outline-primary" %>
    <div class="row">
        <% @cocktails.each do |cocktail| %>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><%= cocktail.name %></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Ingredients</h6>
                        <ul>
                            <% cocktail.doses.each do |dose| %>
                                <li><%= dose.ingredient.name %></li>
                            <% end %>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <%= link_to "More info", cocktail_path(cocktail), class: "btn btn-dark" %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
