<div class="container">
    <h1><%= @cocktail.name %></h1>
    <%= link_to "Back to Cocktails", root_path, class: "btn btn-danger" %>
    <ul>
        <% @cocktail.doses.each do |dose| %>
            <li><strong><%= dose.description %></strong> <%= dose.ingredient.name %></li>
        <% end %>
    </ul>
</div>
