// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/form";

body {
  padding: 30px;
  background-color: #2D3D4E;
  color: white;
  text-align: left;
  width: 100%;
}

.container {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;

  li {
    input {
      margin-right: 4px;
    }

    a {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: none;
  }
}
